@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n1amn7');
  src:  url('fonts/icomoon.eot?n1amn7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n1amn7') format('truetype'),
    url('fonts/icomoon.woff?n1amn7') format('woff'),
    url('fonts/icomoon.svg?n1amn7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
  content: "\e90b";
}
.icon-email:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-msg:before {
  content: "\e906";
}
.icon-my:before {
  content: "\e907";
}
.icon-mycard:before {
  content: "\e908";
}
.icon-set:before {
  content: "\e909";
}
.icon-shild:before {
  content: "\e90a";
}
.icon-loginpass:before {
  content: "\e902";
}
.icon-paypass:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e901";
}
.icon-left:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-shield:before {
  content: "\e9b4";
}

